django-jazzmin==3.0.0

-- Django Framework --
Django==5.0.0

-- Servidor de Producción para Render --
gunicorn==21.2.0

-- Manejo de Base de Datos (PostgreSQL en Render) --
dj-database-url==2.1.0
psycopg2-binary==2.9.9

-- Manejo de Archivos Estáticos --
whitenoise==6.6.0

-- Utilidades adicionales (opcional) --
python-dotenv==1.0.0

